.login .content .form-actions {
    border-bottom: none;
}
.page-header.navbar .page-logo .logo-default {
    max-height: 40px;
    margin: 5px 0 0;
}
.page-content-wrapper .page-content {
    padding: 0px 20px 10px;
}
.only_desktop {
    margin-top: -10px !important;
}
.view_lead {
    margin-top: -47px !important;
}
th[sort_field] {
    cursor: pointer;
}
@media (max-width: 991px) {
    .only_desktop {
        display: none;
    }
}

.number {
    text-align: right;
}
.mt-comments {
    background-color: #e9ebee;
    color: #1d2129;
}
.mt-comments .name {
    color: #365899;
    font-weight: bold;
    cursor: pointer;
    vertical-align: top
}
.mt-comments .mt-comment .mt-comment-body .mt-comment-text {
    color: #1d2129;
    font-size: 12px;
    font-family: Arial;
    line-height: 1.3em;
}


.mt-comments .mt-comment .mt-comment-img>img {
    width: 32px;
    height: 32px;;
}
.mt-comments .mt-comment .mt-comment-img {
    width: 32px;
}

.mt-comment-body .mt-comments .mt-comment .mt-comment-img {
    width: 24px;
}

.mt-comment-body .mt-comments .mt-comment .mt-comment-img>img {
    width: 24px;
    height: 24px;;
}

.mt-comments .mt-comment .mt-comment-body {
    padding-left: 10px;
}

.mt-comments .mt-comment{
    margin: 0;
    padding: 5px;
}
.mt-comments .mt-comments {
    margin-top: 5px;
}

/**
Tracking custom
 */
.change_stt {  cursor: pointer;  color:#337ab7;  }
.change_stt:hover {text-decoration: underline}

/**
Ticket status
 */
.tk-open { background: #2ba2fe;font-weight: normal; cursor: pointer; color:white; padding: 0 10px; }
.tk-answered { background: #59cc1d ;font-weight: normal; cursor: pointer; color:white; padding: 0 10px;   }
.tk-waiting { background: #fe8400;font-weight: normal; cursor: pointer; color:white; padding: 0 10px;   }
.tk-closed {background: #ff0f50;font-weight: normal; cursor: pointer; color:white; padding: 0 10px;   }

/**
Email
 */
.att-wrapper {
    display: inline-block;
    border: 1px solid #e5e5e5;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
}
.att-wrapper a {
    height: 100px;
    width: 180px;
    display: inline-block;
}
.att-wrapper a:hover span {height: 105px}
.att-wrapper a:hover span:after {
    font-family: FontAwesome;
    content: "\f019";
    width: 100%;
    left: 0;
    position: absolute;
    bottom: 15px;
    color: #ababab;
    font-size: 24px;
}
.att-wrapper a span {
    position: absolute;
    left: 0;
    word-break: break-all;
    width: 180px;
    z-index: 9;
    background: #f5f5f5;
    height: 30px;
    color: #565656;
    font-weight: 500;
    display: inline-block;
    bottom: 0;
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.att-prev i {
    color: #ccc;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.att-prev img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    margin: auto;
    right: 0;
}

@media screen and (max-width: 480px) {
    .page-content .ticket-action-nav {
        position: relative;
        top:0;
        text-align: left;
        padding-left: 0;
        padding-right: 0;
    }
    .page-content .ticket-action-nav div[class^='a-'] {
        margin-bottom: 5px;
    }
    .page-content .page-title {
        margin: 0;
    }
}
@media screen and (min-width: 768px) {
    .filter-form .form-group {
        margin-bottom: 5px;
    }
}
